IMAGE=ghcr.io/smeinecke/flaresolverr:latest
DNSDIST_IMAGE=docker.io/powerdns/dnsdist-19:latest

CONFIG_DIR=/srv/flaresolverr/config
DNSDIST_CONFIG_PATH=/etc/flaresolverr/dnsdist.conf

RESTRICTED_NETWORK=flaresolverr_restricted
RESTRICTED_SUBNET=10.89.60.0/24
RESTRICTED_GATEWAY=10.89.60.1

DNS_UPLINK_NETWORK=flaresolverr_dns_uplink
DNS_UPLINK_SUBNET=10.89.61.0/24
DNS_UPLINK_GATEWAY=10.89.61.1

DNSDIST_IP=10.89.60.53
DNSDIST_BIND_ADDRESS=10.89.60.53:53
DNSDIST_ALLOW_FROM=10.89.60.0/24

ALLOWED_PRIVATE_CIDRS="192.168.50.0/24"

LOG_LEVEL=info
LOG_FILE=/config/flaresolverr.log
TZ=UTC
